<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <body class="Opening">
            <h1>Please add your transaction</h1>
        </body>
    </nav>
    <div>
        <form class="addT" action="/cashflow/add" method="post">
            <div class="insertForm">
                <label for="typeoftransaction">Type of Transaction</label>
                <select name="typeOfTransaction">
                    <%data.forEach((el)=>{ %>
                        <option value="<%=el.typeOfTransaction%>"> <%=el.typeOfTransaction%></option>
                    <%})%>  
                </select>
                <label for="amount">Amount</label> </label>
                <input type="number" name="amount" min="0">
                <br><br>
                <label for="amount">Description</label> </label>
                <textarea name="description"></textarea> 
                <br><br>
                <label for="dateOfTransaction">Date of Transaction</label>
                <input type="date" name="dateOfTransaction">
                <br><br>
                <button type="submit" value="Submit">Submit</button>
            </div> 
        </form>
    </div>
</body>
</html>