<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1 style="margin-left:32%">Register your Account</h1>
    <form action="/register" method="post">
        <div class="container">

          <div class="form-group">
            <label for="email"><b>username</b></label>
            <input type="text" class="form-control" name="username" id="username">
          </div>

          <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="text" class="form-control" name="email" id="email">
          </div>

          <div class="form-group">
            <label for="password"><b>password</b></label>
            <input type="password" class="form-control" name="password" id="password">
          </div>

            <div class="form-group">
              <label for="role"><b>Role</b></label>
              <input type="text" class="form-control" name="role" id="role">
            </div>

            </div>
        </div> 
        <br>
      <button type="submit" class="btn btn-outline-info" style="margin-left: 45%">Submit</button>
      </form>
</body>
</html>